* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto flex';
    font-weight: 950;
    font-size: 45px;
    margin: 10px;
}

p {
    margin: 10px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section {
    padding: 30px 50px 50px 60px;
    border-bottom: 6px solid rgb(71, 69, 69);

    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}


.sec1 {
    background-color: unset;
    background-position: center center;
    height: 80vh;
    position: relative;
    color: white;
    border-bottom: 6px solid rgb(71, 69, 69);
}

.sec1>img {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(40%) brightness(40%) blur(0.5px);
    z-index: -1;
}

.sec1>.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec1>.navbar>.buttons {
    display: flex;
}

.btn {
    padding: 6px 10px;
    margin: 10px 5px;

    background-color: red;
    color: white;

    border: 2px solid red;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background-color: rgb(125, 4, 4);
    border: 2px solid rgb(125, 4, 4);
    cursor: pointer;
}

.langBtn {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(90, 90, 90);
    display: flex;
    align-items: center;
    gap: 10px;
}

.langBtn>img:nth-child(1) {
    width: 30px;
}

.langBtn>img:nth-child(3) {
    filter: invert(1);
    width: 10px;
}

.langBtn:hover {
    color: white;
    background-color: rgba(70, 70, 70, 0.5);
    border: 1px solid rgba(70, 70, 70, 0.5);
}


.sec1 .body {
    margin: 20px;
    padding: 20px;
    height: 80%;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

.info {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.info input {
    padding: 6px 10px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.7);
    width: 400px;
    border: 1px solid rgb(71, 69, 69);

    font-size: 20px;
    color: white;
    height: 50px;
}

.body input::placeholder {
    font-size: 15px;
}

#getstarted {
    height: 50px;
    font-size: 22px;
    padding: 6px 10px;
    margin: 10px 5px;
}


.section div {
    margin: 10px 30px;
}

.sec2 .text {
    padding: 20px;
    width: 550px;
}

.sec2 img {
    width: 500px;
}

.sec3 .text {
    margin: 10px;
    padding: 20px;
    width: 605px;
}

.sec3 img {
    width: 355px;
    margin: 10px;
    filter: drop-shadow(5px 5px 4px rgb(87, 37, 37)) brightness(75%) contrast(110%) saturate(120%);
}

/* Fifth Section */
.questions {
    flex-direction: column;
    padding: 40px 10px;
    text-align: center;
}

.questions .table {
    margin: 20px 0px;
    width: 80vw;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

.questions .table div {
    margin: 5px 0px;
    padding: 20px;
    background-color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}


/* Footer */
.foot {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.foot .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid black;
    width: 70%;
    padding: 20px;
}

.foot .container .grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    margin: 20px 0px;
    padding: 20px 2px;
}

.foot .container .grid div {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: underline;
}

.foot .container .grid div a {
    color: white;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .sec2 {
        flex-direction: column;
    }

    .sec2 div {
        margin: 0px;
    }

    .foot .container .grid {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 520px) and (max-width: 700px) {
    h1 {
        font-size: 37px;
    }

    p {
        font-size: 23px;
    }


    .sec1 .body {
        height: 85%;
        gap: 3px;
    }

    .info {
        flex-direction: column;
    }

    .section .text {
        width: 450px;
    }

    .sec2 {
        flex-direction: column;
    }

    .sec2 div {
        margin: 0px;
    }

    .foot .container .grid {
        grid-template-columns: auto auto;
    }

    .sec3 {
        flex-direction: column-reverse;
        margin: 0px;
    }

    .questions .table {
        width: 90vw;
    }

    .questions .table div {
        font-size: 20px;
    }

    .sec2 img {
        width: 400px;
    }

    .sec3 img {
        width: 300px;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .sec1 {
        height: 85vh;
    }

    .navbar {
        padding: 5px;
        flex-direction: column;
    }

    .body>* {
        margin: 2px 5px;
    }

    .info {
        flex-direction: column;
    }

    .info input {
        width: 300px;
    }

    .section .text {
        width: 300px;
    }

    .sec2 {
        flex-direction: column;
    }

    .sec2 img {
        width: 300px;
    }

    main .sec3 img {
        width: 300px;
    }

    .sec2 div {
        margin: 0px;
    }


    .sec3 {
        flex-direction: column-reverse;
        margin: 0px;
    }

    .questions .table {
        width: 90vw;
    }

    .questions .table div {
        font-size: 15px;
    }
    .questions .table div img{
        width: 15px;
        height: 15px;
    }

    .foot .container .grid {
        grid-template-columns: auto;
    }

}